body {
    background: rgb(104,192,147);
  }
  nav{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
}
nav h3{
    font-weight: 500;
    color: rgb(104,192,147);
}
.header{
    display: flex;
    align-items: center;
}
.left{
    width: 100px;
}
.right li{
    display: inline;
    padding: 20px;
}
.right{
    margin-right: 100px;
    padding-top: 20px;
    color: rgb(104,192,147);
}
.portfolio{
    margin-top: 120px;
    display: flex;
    height: 100%;
}
.portfolio img {
    width: 600px;
    height: 650px;
    padding-right: 50px;
}
.info{
    width: 50%;
    padding: 100px;
}
.info h1{
    padding: 0px 10px;
}
.info p{
    padding: 50px;
    font-size: xx-large;
    font-weight: lighter;
}
.button{
    background-color: #0863A6;
    color: white;
    padding: 20px;
    width: 180px;
    margin-left: 50px;
    font-size: medium;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.button {
    color: white;
}
.button:hover{
    background-color: #D9D9D9;
    color: rgb(104,192,147);
}

footer{
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #D9D9D9;
}

.links li{
    text-decoration: none;
    padding: 8px;
    color: rgb(104,192,147);
}
.contact img{
    width: 30px;
}
.follow{
    padding-left: 0px;
}
#fb, #twe{
    color: #0863A6;
    padding: 15px;
}
#ig{
    color: rgb(104,192,147);
    padding: 15px;
}
li{
    list-style: none;
}
#phone{
    color: rgb(104,192,147);
    padding: 15px;
}
#mail{
    color: rgb(104,192,147);
    padding: 15px;
}
#pin{
    color: rgb(104,192,147);
    padding: 15px;
}
.cprt{
    display: block;
    font-weight: lighter;
    margin-left: 40%;
    color: rgb(104,192,147);
}
a{
    text-decoration: none;
    color: rgb(104,192,147);
}
iframe{
   width: 400;
    height: 200px;
    border: 0;
}